hostname {{ inventory_hostname }}
ip domain-name {{ domain_name }}
{% for nameserver in nameservers %}
ip name-server {{ nameserver }}
{% endfor %}
service timestamps log datetime
service timestamps debug datetime
logging {{ syslog_ipv4 }}
logging trap {{ ios_loglevel }}
no ip access-list extended MGMT-ACCESS
ip access-list standard MGMT-ACCESS
  10 permit host {{ workstation_ipv4 }} log
  20 permit host {{ tower_ipv4 }} log
snmp-server community {{ ro_community }} RO MGMT-ACCESS
